.App {
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

a:hover {
  cursor: pointer;
}

.heading {
  margin-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons a {
  margin: 0 15px 0 15px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 10px;
  color: #282c34;
  width: 50px;
}

.openall {
  margin: 0 25px 0 25px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 10px;
  color: #282c34;
  width: 200px;
  margin-top: 50px;
}

.clearStorage {
  margin: 20px 25px 10px 25px;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 10px;
  color: #282c34;
  width: 200px;
}